table tbody tr .css-1ex1afd-MuiTableCell-root{
   border-bottom:0px;
}
table tbody tr .css-177gid-MuiTableCell-root{
    border-bottom:0px;

 }
 table tbody tr .css-19nedaa-MuiTableCell-root{
    width: 11%;
    border-bottom: none;
 }
 table tbody tr .css-12u2zoj-MuiTableCell-root{
    border-bottom: none;
}
 table thead tr .css-ogtjs0-MuiTableCell-root{
    
    border-bottom: none;
 }

 table thead tr .css-g9upjm-MuiTableCell-root{
    border-bottom: none;
 }


 table .css-wo3ghn-MuiTableCell-root{
   border-top: 1px solid black;
border-bottom: none;
 }
 table .css-wwu154-MuiTableCell-root{
   border-top: 1px solid black;

   border-bottom: none;
    }